body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.site-layout-content {
    padding: 24px;
}

.custom-card {
    transition: transform 0.4s ease, opacity 0.4s ease;
    opacity: 1;
}

.card-container div:hover .custom-card{
    transform: scale(1.1); 
    opacity: 0.8;
}

.card-container {
    overflow: hidden;
}
.card-container div:hover .blue-overlay {
    opacity: 1 !important; /* Make the blue overlay visible */
}

.card-container div:hover .hover-button {
    opacity: 0.8 !important; 
}

.logo {
    width: 120px;
    height: 31px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px 24px 16px 0;
    float: left;
}

[data-theme="dark"] .site-layout-content {
    background: #141414;
}
[data-theme="dark"] .logo {
    background: rgba(255, 255, 255, 0.3);
}

@media screen and (max-width: 465px) {
    .logo {
        display: none !important;
    }
  }
